body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://images6.alphacoders.com/312/thumb-1920-312520.jpg);
  background-size: 100%;
}



/* CSS FOR INDEX */

#title:hover {
  color: #111;
  background: #39ff14;
  box-shadow: 0 0 50px #39ff14;
}


.box p{
  color:red;
  font-family: cursive;
}

.box{
  width: 200px;
  padding: 40px;
  position: fixed;
  top: 30%;
  right: 5%;
  margin: 0 auto;
  background: #191919;
  text-align: center;
  border-radius: 20px;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-family: cursive;
  font-weight: 500;
}

div {
  text-align: center;
  background-color: #ccffb3;
  border-radius: 24px;
  width: 20%;
  padding: 15px;
  border: 5px orangered;
  margin: 0 auto;
  font-family: serif;
  font-weight: bold;
}

.box a{
  color:white;
  font-size: 14px;
}

.box a:hover{
  color: #7FFF00;
}

.box input[type = "text"], .box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(7, 115, 134);
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: .25s;
}

.box input[type = "text"]:hover, .box input[type = "password"]:hover{
  width: 180px;
  border-color: #7FFF00;
}


.box button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #7FFF00;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box button:hover{
  background: #7FFF00;
}



/*CSS FOR CREATE*/
#create p{
  color:red;
  font-family: cursive;
}

#create h1{
  color:white;
  font-family: cursive;
}

#create{
  width: 600px;
  padding: 20px;
  position: fixed;
	bottom: 35%;
	left: 0;
	right: 0;
	margin: auto;
  background: #191919;
  text-align: center;
  border-radius: 20px;
}

#create input[type = "text"], #create input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(7, 115, 134);
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: .25s;
}

#create input[type = "text"]:hover, #create input[type = "password"]:hover{
  width: 180px;
  border-color: #7FFF00;
}

#create button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #7FFF00;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#create button:hover{
  background: #7FFF00;
}

#create a{
  color:white;
  font-size: 12px;
}

#create a:hover{
  color: #7FFF00;
}

/*CSS FOR HOME*/
#welcomealien:hover{
  color: #111;
  background: #39ff14;
  box-shadow: 0 0 50px #39ff14;
}

#accountButton{
    border:0;
    background: none;
    display: block;
    margin-left: 85%;
    text-align: center;
    border: 2px solid black;
    padding: 9px 30px;
    outline: none;
    color: lightgrey;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

#accountButton:hover {
  color: #111;
  background: teal;
  box-shadow: 0 0 50px #39ff14;
}

#logoutButton{
  border:0;
  background: none;
  display: block;
  margin-left: 85%;
  text-align: center;
  border: 2px solid black;
  padding: 9px 30px;
  outline: none;
  color: lightgrey;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#logoutButton:hover {
  color: #111;
  background: #red;
  box-shadow: 0 0 50px #39ff14;
}

.buttonGroup{
  margin-bottom: 6px; /* Add some space below the input */
  position: relative;
  width: 80%;
  margin-bottom: 20px;

}

#logoutButton:hover{
  background: tomato;
}

#myInput {
  width: 90%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid black; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin: 0;
  left: 0;
  right: 0;
  border-radius: 24px;
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 90%; /* Full-width */
  border: 1px solid black; /* Add a black border */
  font-size: 14px; /* Increase font-size */
  background-color: white;
  margin: 0;
  position: relative;
  left: 15px;
  right: 0;
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
  right: 10%;
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid black;
  right: 10%;
}

#myTable tr.header{
  /* Add a grey background color to the table header and on hover */
  background-color: #7FFF00;
  left: 10%;
}

#myTable tr:hover{
  background-color: #ccffb3;
}

#searchBar {
  width: 30%;
  padding: 8px 20px 5px;
  margin: 8px 0;
  border-radius: 7px;
  background-color: #ccffb3;
  margin-left: 20px;
}

.btnSubmit {
  background-image: url(
  'https://img.icons8.com/metro/26/000000/search.png');
  background-size: cover;
  border-radius: 20px;
  width: 27px;
  height: 27px;
  margin-top: 25px
}

#open-button {

    display: inline-block;
    text-decoration: none;
    margin-left: 82%;
    margin-bottom: 5px;
    font-family: cursive;
}

#open-button:hover{
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
}

/*
#searchBar2 {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 20px;
  background-color: #ccffb3;
}
#searchBar3 {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 20px;
  background-color: #ccffb3;
}
#searchBar4 {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 20px;
  background-color: #ccffb3;
}
#searchBar5 {
  width: 17.5%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 20px;
  background-color: #ccffb3;
}

*/

/* The popup form - hidden by default */
.form-popup {
  width: 300px;
  display: none;
  position: absolute;
  top: calc(50% - 325px);
  left: calc(50% - 150px);
  margin: 0;
  border: 3px solid #03913e;
  z-index: 9;
  box-shadow: 0 0 50px #39ff14;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;

}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container input[type=text]:hover, .form-container input[type=password]:hover {
  background-color: #fcffcd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
