body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://images6.alphacoders.com/312/thumb-1920-312520.jpg);
  background-size: 100%;
}

/* CSS FOR INDEX */

.box p{
  color:red;
  font-family: cursive;
}

.box{
  width: 200px;
  padding: 40px;
  position: fixed;
  top: 30%;
  right: 5%;
  magin: 0 auto;
  background: #191919;
  text-align: center;
  border-radius: 20px;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

div {
  text-align: center;
  background-color: lightcyan;
  border-radius: 24px;
  width: 20%;
  padding: 15px;
  border: 5px orangered;
  margin: 0 auto;
  font-family: serif;
  font-weight: bold;
}

.box a{
  color:tomato;
  font-size: 14px;
}

.box a:hover{
  color:tomato;
}

.box input[type = "text"], .box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(7, 115, 134);
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: .25s;
}

.box input[type = "text"]:hover, .box input[type = "password"]:hover{
  width: 180px;
  border-color: #5c7a9c;
}


.box button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box button:hover{
  background: #2ecc71;
}

/*CSS FOR CREATE*/
#create p{
  color:red;
  font-family: cursive;
}

#create h1{
  color:white;
  font-family: cursive;
}

#create{
  width: 600px;
  padding: 20px;
  position: fixed;
	bottom: 35%;
	left: 0;
	right: 0;
	margin: auto;
  background: #191919;
  text-align: center;
  border-radius: 20px;
}

#create input[type = "text"], #create input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid skyblue;
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: .25s;
}

#create input[type = "text"]:hover, #create input[type = "password"]:hover{
  width: 180px;
  border-color: #2ecc71;
}

#create button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#create button:hover{
  background: #2ecc71;
}

#create a{
  color:tomato;
  font-size: 12px;
}

#create a:hover{
  color:skyblue;
}

/*CSS FOR HOME*/
#welcomealien:hover{
  background-color: #7FFF00;
}

#logoutButton{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 40px;
  outline: none;
  color: lightgrey;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#addContact{
  margin-bottom: 6px; /* Add some space below the input */
  position: relative;
  left: 1%;
}

#logoutButton:hover{
  background: tomato;
}

#myInput {
  width: 90%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid black; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */\
  margin: 0;
  left: 0;
  right: 0;
  border-radius: 24px;
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 90%; /* Full-width */
  border: 1px solid black; /* Add a black border */
  font-size: 14px; /* Increase font-size */
  background-color: white;
  margin: 0;
  left: 0;
  right: 0;
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid black;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #7FFF00;
}
